body {
  margin: 0 auto;
  background-color: var(--blanco);
}

:root {
  --primario: hsl(284, 100%, 41%);
  --primario_oscuro: hsl(267, 100%, 49%);
  --primario_claro: hsl(284, 24%, 68%);

  --negro: hsl(266, 94%, 4%);
  --blanco: hsl(284, 0%, 91%);
  --error: hsl(348, 84%, 28%);
  --azul: hsl(206, 100%, 43%);
  --azul_oscuro: hsl(206, 94%, 34%);
  ---azul_marino: hsl(206, 92%, 15%);
}
