body {
  margin: 0 auto;
  background-color: var(--blanco);
}

:root {
  --primario: hsl(184, 84%, 28%);
  --primario_oscuro: hsl(184, 91%, 19%);
  --primario_claro: hsl(184, 90%, 50%);
  --negro_claro: hsl(184, 96%, 6%);
  --negro: hsl(184, 96%, 3%);
  --blanco: hsl(184, 3%, 94%);
  --error: hsl(348, 84%, 28%);
}
